body {
  font-family: Verdana;
  color: 	#505050;
  font-weight: bold;
  background-image: url("bg-01.jpg");
  background-repeat: no-repeat;
  background-size: 1600px 1100px;
}

td {
    padding-top: .9em;
    padding-bottom: .7em;
}
div {
  background-color: white;
  width: 900px;
  border-radius: 30px;
  padding: 25px;
  margin-left: 300px;
  margin-top: 100px;
  box-shadow: 7px 7px grey;
}
.wrap {
  text-align: center;
}
input{
    border: none;
    border-bottom: 1px solid #8A2BE2;
}
input:focus{
  outline: none;
}
button {
  background-image: url("bg-01.jpg");
  border: none;
  padding: 10px 24px;
  border-radius: 12px;
  width: 40%;
}
button:hover {
 opacity: 0.7;
}
a {
  font-size: 70%;
  text-align: left;
  text-decoration: none;
  color: #087E8B;
}
a:hover {
  color: #FF5A5F;
}
